.finance {
    padding: 20px 40px 40px;
    background: rgba(var(--color-white), 1);
    border-radius: 12px 12px 0 0;
}


.finance-list {
    list-style: none;
    /*background: rgba(var(--color-dark), 1)*/

}


.finance-list li {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(var(--color-dark), .05);
    background: rgba(var(--color-white), 1);
    user-select: none;
    position: relative;
}

.finance-list li .finance-list__controller {
    display: flex;
}

.finance-list li .finance-list__controller button {
    margin-left: 10px;
}

.finance-list li .finance-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.finance-list li span:nth-child(2).spending {
    color: rgba(var(--color-danger));
}

.finance-list li span:nth-child(2).income {
    color: rgba(var(--color-success));
}