.button {
    /*main style*/
    height: 2.4em;
    padding: .6em;
    border-radius: .6em;
    font: normal normal 20px / 20px var(--font-primary);
    box-shadow: inset 0 -.2em .4em hsl(var(--color-primary-hsl) 10% / 20%);
    text-shadow: 0 .1em .2em hsl(var(--color-primary-hsl) 10% / 50%);
    background: var(--color-primary);
    color: var(--color-primary-90);
    cursor: pointer;

    /*reset*/
    border: none;
    outline: none;
    appearance: none;

    /*animation*/
    transition: background-color ease-in .2s,
    box-shadow ease-in .2s,
    color ease-in .2s;
    will-change: background-color,
    box-shadow,
    color;

}

.button:hover {
    background: var(--color-primary-60);
}

.button:focus {
    box-shadow: inset 0 -.2em .4em hsl(var(--color-primary-hsl) 10% / 20%),
    0 0 0 .2em hsl(var(--color-primary-hsl) 50% / 20%);
}

.button:disabled,
.button:hover:disabled,
.button:focus:disabled {
    color: var(--color-gray-90);
    background: var(--color-gray-80);
    cursor: not-allowed;
}




